ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #37554c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #ad5099;
  }
a:link {
    color : rgb(92, 223, 210)
 
}

a:visited {
    color : rgb(255, 152, 152)
}
text {
    style : "font-family: Comic Sans MS"
}

body {
    color : rgb(186, 253, 225) ;
    background-color : rgb(94, 94, 94) 
}