/* Link Color (Unvisited)*/
@property --link-color {
    initial-value: #BB69A6FF;
    syntax: "*";
    inherits: false;
}
/* Link Color (Visited)*/
@property --link-visited {
    initial-value: #9582E6FF;
    syntax: "*";
    inherits: false;
}
/* "<body>" color (Unused (?) )*/
@property --body-color {
    initial-value: #EDB0F0FF;
    syntax: "*";
    inherits: false;
}
/* "<body>" background*/
@property --body-background {
    initial-value: #381539FF;
    syntax: "*";
    inherits: false;
}
/* Main font*/
@property --main-font {
    initial-value: 'Space Grotesk';
    inherits: false;
    syntax: "*";
}
/* "bodies" div color*/
@property --bodies-color {
    initial-value: #59345DFF;
    syntax: "*";
    inherits: false;
}
/* Navbar background*/
@property --navbar-background {
    initial-value: #381539;
    syntax: "*";
    inherits: false;
}
/* Navbar hover*/
@property --navbar-hover-background {
    initial-value: #b6e3b1;
    syntax: "*";
    inherits: false;
}
