@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

  p {
    font-size: 125%
  }
  h2 {
    font-size: 150%
  }

  h3 {
    font-size: 140%
  }

a:link {
    color : rgb(219, 145, 207)
 
}

a:visited {
    color : rgb(169, 252, 180)
}

body {
    color : rgb(245, 189, 226) ;
    background-color : rgb(56, 56, 56) 
}

.text {
  display: flex; 
  flex-wrap: wrap; 
  position: relative; 
  width: 1100px; 
  height: 39px;
  
}
.header {
  display: flex; 
  flex-wrap: wrap; 
  position: relative;
  width: 1200px; 
  height: 30px;
 
}
.intro {
  display: flex; 
  flex-wrap: wrap; 
  position: relative; 
  width: 1200px; 
  height: 45px
}

.bodies {
    font-family: 'Space Grotesk', sans-serif;
  margin-left: 7.5%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color:#444444;
  margin-bottom: 0.5%;
}
.images {
  align-self: center;
  gap: 2%;
  width: 45%;
  display: flex;
  flex-direction: row;
  background-color: #444444;
  margin-bottom: 0.5%;
}


.nso {
  width: 1%;
  display: flex;
  background-color: #444444;
  margin-bottom: 0.5%;
  margin-left: 40%
}

.bodies h1, h2, h3, h4, h5, h6{
  align-self: center;
}

.bodies p {
  align-self: center;
  margin-left: 3%;
  margin-right: 3%;
}

.column {
  flex: 25%;
  padding: 5px;

}

.row {
  display: flex;
  align-items: center;
}

.column5 {
  flex: 12%;
  padding: 5px;

}
@media screen and (max-width: 500px) {
.column {
  width: 100%;

}  
}
/* Navbar container */
.navbar {
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
    background-color: #644c66;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(219, 145, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:visited {
    color: rgb(169, 252, 180)
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(219, 145, 207);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ad5099;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #644c66;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(219, 145, 207);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #3a6456;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}