ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51615c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #ad5099;
  }
a:link {
    color : rgb(115, 201, 223)
 
}

a:visited {
    color : rgb(216, 121, 121)
}

body {
    color : rgb(148, 209, 185) ;
    background-color : rgb(73, 73, 73) 
}