.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #644c66;
  }
.bodies ul {
  list-style-type:none;
  
}
  p {
    font-size: 125%
  }
  h2 {
    font-size: 150%
  }

  h3 {
    font-size: 150%
  }

.navbar li {
    float: left;
  }
  
.navbar li a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  
.navbar li a:hover {
    background-color: #3a6456;
  }
a:link {
    color : rgb(219, 145, 207)
 
}

a:visited {
    color : rgb(169, 252, 180)
}

body {
    color : rgb(245, 189, 226) ;
    background-color : rgb(56, 56, 56) 
}

.text {
  display: flex; 
  flex-wrap: wrap; 
  position: relative; 
  width: 1100px; 
  height: 39px;
  
}
.header {
  display: flex; 
  flex-wrap: wrap; 
  position: relative;
  width: 1200px; 
  height: 30px;
 
}
.intro {
  display: flex; 
  flex-wrap: wrap; 
  position: relative; 
  width: 1200px; 
  height: 45px
}

.bodies {
  margin-left: 12.5%;
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color:#444444;
  margin-bottom: 0.5%;
}
.images {
  margin-left: 0%;
  gap: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #444444;
  margin-bottom: 0.5%;
}


.nso {
  width: 1%;
  display: flex;
  background-color: #444444;
  margin-bottom: 0.5%;
  margin-left: 40%
}

.bodies h1, h2, h3, h4, h5, h6{
  align-self: center;
}

.bodies p {
  align-self: center;
  margin-left: 3%;
  margin-right: 3%;
}

.column {
  flex: 25%;
  padding: 5px;

}

.row {
  display: flex;
  align-items: center;
}

.column5 {
  flex: 12%;
  padding: 5px;

}
@media screen and (max-width: 500px) {
.column {
  width: 100%;

}  
}